.jumbotron-fluid{
  background: linear-gradient(to bottom right,
#69FF97, #00E4FF);
  margin-bottom: 0px;
  min-height: 100vh;
}

.quote-box{
  background-color: rgba(255,255,255,0.5);
  border-radius: 10px;
  padding: 30px;
  height: 400px;
  margin: 0px auto;
  margin-bottom: 10px;
  margin-top: 50px;
  overflow: auto;
}

.vertical-center{
  display: flex;
  align-items: center;
}

.btn{
  margin-bottom: 10px;
}

#quote-title{
  font-size: 15px;
}

#logo{
  height: 60px;
  width: 60px;
}

.credits{
  font-size: 15px;
}

footer {
  margin-top: 100px;
  color: #353535;
}

a {
  color: inherit;
}

a:hover {
  color: inherit;
}
